* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  outline: none !important; }

html {
  scroll-behavior: smooth; }

body {
  margin: 5px; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px; }

nav ul {
  list-style-type: none;
  margin-bottom: 0; }
  nav ul > li {
    display: inline-block;
    cursor: pointer; }
  nav ul li > a {
    line-height: 50px;
    color: white;
    display: block;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase; }
  nav ul li > a:hover {
    border-bottom: 2px solid white;
    color: white;
    transform: translate(0, 5px);
    transition: all .5s ease-in-out; }

.top_menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  padding: 0 50px;
  z-index: 1; }

.logo {
  font-size: 26px;
  font-family: 'Dancing Script', cursive;
  color: white;
  display: block;
  cursor: pointer; }

.hero {
  background-image: url("../images/header.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto; }

.slogan {
  text-align: left;
  color: white;
  position: relative;
  margin-left: 3%;
  margin-top: 15%;
  padding-bottom: 10%; }

.welcome {
  font-size: 54px;
  font-family: 'Candal', sans-serif;
  font-weight: 900;
  color: white;
  line-height: 1.2;
  position: relative;
  margin: 0; }

.nice {
  font-size: 30px;
  font-family: 'Candal', sans-serif;
  color: white;
  line-height: 1.2;
  position: relative;
  margin-top: 15px;
  margin-bottom: 60px;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden; }

.more {
  margin-top: 20%;
  color: white; }

.change-color-logo {
  color: black; }

.change-color {
  color: black; }
  .change-color:hover {
    border-bottom: 2px solid black;
    color: black; }

.choosed-white {
  border-bottom: 2px solid white; }

.choosed-black {
  border-bottom: 2px solid black; }

.anim-typewriter {
  animation: typewriter 3s steps(44) 1s 1 normal both, blinkTextCursor 900ms steps(44) infinite normal;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 13em; } }
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }
@keyframes jump {
  0% {
    top: 0; }
  50% {
    top: 50px; }
  100% {
    top: 0; } }
#arrow-down {
  position: relative;
  animation: jump 2s infinite;
  text-align: center; }
  #arrow-down a {
    font-size: 50px; }
  #arrow-down a:hover {
    color: #b9b2b2; }

.about .row {
  display: flex; }
.about img {
  height: 480px;
  margin: 10% 20%;
  margin-right: 2%;
  position: relative; }
.about .desc {
  display: flex;
  flex-direction: column;
  margin-top: 10%; }
  .about .desc .title {
    font-size: 32px; }
  .about .desc .position {
    font-size: 19px;
    margin-bottom: 3%; }
  .about .desc .text-about {
    line-height: 28px;
    font-size: 16px;
    width: 60%;
    margin-bottom: 5%; }
  .about .desc a {
    margin-bottom: 4%;
    width: 43px; }
  .about .desc i {
    font-size: 48px;
    color: black; }
  .about .desc button {
    height: 40px;
    width: 120px;
    color: white;
    background: black; }
  .about .desc .contact-icons {
    display: flex; }
    .about .desc .contact-icons .fa-linkedin {
      color: #0077B5; }
    .about .desc .contact-icons .fa-github {
      margin-left: 20px; }

.services {
  background-color: #f2f2f2; }
  .services .row {
    text-align: center;
    margin: 6% 0; }
  .services .row-technologies {
    margin: 2% 0; }
  .services .row-technologies-list {
    margin-top: 2%;
    margin-bottom: 6%; }
  .services .fa-html5 {
    color: #e34f26; }
  .services .fa-css3-alt {
    color: #026cb1; }
  .services .fa-sass {
    color: #c66494; }
  .services .fa-js {
    color: #efd81e; }
  .services .fa-node {
    color: #6fa560; }
  .services .fa-react {
    color: #5ed3f3; }
  .services .icon {
    color: #222;
    display: inline-block;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    line-height: 78px;
    font-size: 30px;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    transition: .5s all ease; }
  .services .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase; }
  .services .service-item ul {
    text-align: left;
    padding-left: 40%; }
  .services p {
    font-size: 16px;
    line-height: 1.65;
    font-family: "Open Sans", sans-serif; }
  .services .used-technologies i {
    font-size: 60px;
    margin: 50px 20px; }

.portfolio .row {
  text-align: center;
  margin: 6% 0; }
.portfolio img {
  width: 380px;
  height: 300px; }
.portfolio .row-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
.portfolio .item {
  background: white;
  margin: 20px;
  padding: 10px; }
  .portfolio .item .item-content {
    position: relative;
    overflow: hidden;
    border: 1px solid #c4c1c1; }
    .portfolio .item .item-content img {
      position: relative; }
    .portfolio .item .item-content .technologies {
      display: none;
      position: absolute;
      color: black;
      font-size: 40px;
      left: 120px;
      top: 110px; }
      .portfolio .item .item-content .technologies a {
        text-decoration: none;
        color: black; }
    .portfolio .item .item-content .fa-search {
      margin-right: 40px; }
    .portfolio .item .item-content .background-technologies {
      content: "";
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      background-color: rgba(255, 255, 255, 0.9);
      opacity: 0;
      transform: scale(0.8);
      transition: 1s all ease; }
  .portfolio .item .item-content:hover .background-technologies {
    transform: scale(1);
    opacity: 1; }
  .portfolio .item .item-content:hover .technologies {
    display: block;
    transition: 0.5s all ease; }
  .portfolio .item h3 {
    color: black;
    text-align: left;
    margin-bottom: 30px;
    border-bottom: 2px solid grey;
    padding-bottom: 10px; }
  .portfolio .item .description {
    color: black;
    font-size: 18px;
    min-height: 120px; }
    .portfolio .item .description ul {
      margin: 8% 0;
      text-align: right; }
  .portfolio .item .buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 70px; }
    .portfolio .item .buttons a {
      padding: 10px;
      width: 100px;
      background: white;
      box-shadow: 5px 5px 5px grey;
      color: black;
      border: 1px solid black;
      margin-bottom: 10px; }
    .portfolio .item .buttons a:hover {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 25px;
      transition: 500ms; }
.portfolio .projects-in-progress {
  display: flex;
  justify-content: center; }

.contact {
  background-color: #f2f2f2; }
  .contact .row {
    text-align: center;
    margin: 6% 0; }
  .contact .col-lg-10 {
    margin-left: 8%; }
  .contact form .form-group {
    margin-bottom: 24px;
    background-color: #f2f2f2; }
    .contact form .form-group textarea {
      background-color: #f2f2f2;
      height: auto;
      resize: none;
      overflow: auto;
      margin: 0;
      flex-direction: column;
      cursor: text;
      white-space: pre-wrap;
      overflow-wrap: break-word;
      text-rendering: auto;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      text-align: start;
      font: 400 14px system-ui; }
  .contact form .form-control {
    background-color: #f2f2f2;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    box-shadow: none;
    border-radius: 0;
    color: #222;
    border: 0;
    border-bottom: 2px solid #222;
    height: 3em;
    transition: all .4s ease;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    background-clip: padding-box; }
  .contact form .main-btn {
    display: inline-block;
    background-color: #222;
    padding: 10px 20px;
    border: 2px solid #222;
    color: #fff;
    text-transform: uppercase;
    transition: .2s background-color ease;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px; }

footer {
  background: #222;
  padding: 50px 0; }
  footer h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 700; }
  footer p {
    color: #fff;
    font-size: 14px; }
  footer hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #333; }
  footer .copy {
    font-size: 14px;
    color: #aaa;
    padding-top: 30px; }

@media screen and (max-width: 1240px) {
  .about img {
    height: 240px; }
  .about .desc .text-about {
    width: 90%; }
  .about .box {
    display: none; }

  .service-item p {
    width: 60%;
    font-size: 18px;
    margin: auto; } }

/*# sourceMappingURL=style.css.map */
